.githubIcon {
  background: center/contain url('./assets/github.svg') no-repeat;
}

html[data-theme="dark"] .githubIcon {
  background: center/contain url('./assets/github-dark.svg') no-repeat;
}

.googleIcon {
  background: center/contain url('./assets/google.svg') no-repeat;
}

.cffexIcon {
  background: center/contain url('./assets/cffex.svg') no-repeat;
}
